<div class="padding" ng-controller="NoteController">
    <super-navbar>
        <super-navbar-title ng-bind="navbarTitle">Alerts (23)</super-navbar-title>
        <super-navbar-button side="right">
            Clear
        </super-navbar-button>
    </super-navbar>


    <div id="a">
        <b>A</b><br>
        Apple<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="100px" src="/images/Apple13.jpg"><br/><br/>
        <br/>
        <hr>
        <br>
    </div>
</div>