<super-navbar>
    <super-navbar-title ng-bind="navbarTitle">AP Exam -Political Parties</super-navbar-title>
    <super-navbar-button side="right" ng-attr-click="supersonic.ui.drawers.open('right')">
        Swipe
    </super-navbar-button>
</super-navbar>

<div class="list" ng-controller="NoteController">
    <div class="item" id="pp">
        <b>Political party</b><br>
        An organisation that seeks political power by electing people to office so that its positions and philosophy<br>
        <br/>
        <br/>
    </div>

    <div id="b" class="item">
        <b>Nonpartisan election</b><br>
        A local or judical election in which candidates are not selected or <i>endorsed </i>by political parties and party is affiliation is not listed on <i>ballots
    </i> <br>
        <br/>
        <br/>
    </div>

    <div id="patronage" class="item">
        <b>Patronage</b><br>
        The dispensing of goverment jobs to persons who belong to the winning political party<br>
       <br/>
        <br/>
    </div>

    <div id="sm" class="item">
        <b>Soft money</b><br>
        Money raised in unlimited amounts by political paries for party-building purposes.Now largerly <i>illegal</i>except for limited contributions to state or local parties or voter registration and get-out-the-vote efforts<br>
       <br/>
        <br/>
    </div>

    <div id="hm" class="item">
        <b>Hard money </b><br>
        political contributions given to a party,candidate or <i>interest  group</i> that are limited in amounts and fully disclosed.Raising such limited funds is harder than raising unlimited funds,hence the term "hard money"<br>
        <br/>
        <br/>
    </div>

    <div id="ie" class="item">
        <b>independent expenditure</b><br>
        The <i>Supreme Court</i>has ruled that individuals groups,and parties can spend unlimited amounts in campaigns for against candidates as long as they operate independtly from the candidates.When an individual,group or party does so they are making an independent expenditure <br>
       <br/>
        <br/>
    </div>

    <div id="hp" class="item">
        <b>Honeymoon period</b><br>
        Period at the beginning of the new president's term during which president enjoys generally positive relations with the press and <i>Congress</i>.usually lasting about six months <br>
       <br/>
        <br/>
    </div>

    <div id="caucus" class="item">
        <b>Caucus</b><br>
        A meeting of local party members to choose party officals or candidates for public office and to decide the platform  <br>
        <br/>
        <br/>
    </div>

    <div id="pc" class="item">
        <b>party convention</b><br>
        A meeting of party delegates to vote on matters of policy and in some cases to select party candidates for public office. <br>
        <br/>
        <br/>
    </div>

    <div id="dp" class="item">
        <b>Direct primary</b><br>
        Election in which voters choose party<i>nominees</i><br>
        <br/>
        <br/>
    </div>

    <div id="op" class="item">
        <b>Open primary</b><br>
        Primary election in which only persons registered in the p<br/>
        <br/>
    </div>

    <div id="cv" class="item">
        <b>Crossover voting</b><br>
        Voting by member of one party for candidate of another party<br>
        <br/>
        <br/>
    </div>
    <div id="cp" class="item">
        <b>Closed primary</b><br>
        Primary election in which only persons registered in the party holding the primary may vote<br>
        <br/>
        <br/>
    </div>
    <div id="pr" class="item">
        <b>Proportional representation</b><br>
        An election system in which each party running recevies the proportion of <i>legislative</i>seats corresponding to its proportion of vote
        <br/>
        <br/>
    </div>
    <div id="wtals" class="item">
        <b>winner takes all system</b><br>
        Election system in which the candidates with most votes wins.
        <br/>
        <br/>
    </div>
    <div id="mp" class="item">
        <b>Minor Party</b><br>
        A small political party that rises and falls with a <i>charismatic</i> candidateoror if composed of ideologies on the right or left,usually persists over time ;also called a third party
        <br/>
        <br/>
    </div>
    <div id="lp" class="item">
        <b>Liberation Party</b><br>
       A minor party that believes in extremely limited government.Libertarians call for a free market system,expanded individual liberties such as a drug legalizations and a foreign policy of nonintervention,free trade and open immigration

        <br/>
        <br/>
    </div>
    <div id="gp" class="item">
        <b>Green Party</b><br>
        A minor  party dedicated to the environment ,social justice,nonviolence and the foregin policy of nonintervention.Ralph Nader ran as the Green party's nominee in 2000
        <br/>
        <br/>
    </div>
    <div id="rp" class="item">
        <b>Reform Party</b><br>
        A minor party founded by Ross Perot in 1995.It focuses on national government reform,fiscal responsibility adn political accountability .It has recently struggled with internal strife and ciriticism that it lacks an identity<br>
        <br/>
    </div>
    <div id="re" class="item">
        <b>Realigining election</b><br>
        <br>
        An election during periods of expanded <i>suffrage and change in the economy and society that proves to be a turning point ,redefining the agenda of politics and the alignment of voters within parties</i>
        <br/><br/>
    </div>
    <div id="lfe" class="item">
        <b>Laissez-faire economics</b><br>
        Theory that opposes governemnt interference in economic affairs beyond what is necessary to protect life and properly
        <br>

        <br/><br/>
    </div>
    <div id="dg" class="item">
        <b>Divided government </b><br>
        Governance divided between the parties ,as when one holds the presidency and the other controls one or both houses of Congress

        <br/><br/>
    </div>
    <div id="ke" class="item">
        <b>Keynesian economics </b><br>
        Theory based on the principles of <i>John Maynard Keynes</i>,stating that government spending should increase during business slumps and the curves during booms.
        <br/><br/>
    </div>
    <div id="npc" class="item">
        <b>National party convention</b><br>
         A national meeting of delegates elected in primaries,caucuses or state conventions who assemble once every four years to nominate candidates for president and vice president ,<i>ratify </i> the party platform,elect offciers and adopt rules
        <br/><br/>
    </div>
    <div id="partyr" class="item">
        <b>Party registration</b><br>
          The act of declaring party affiliations;required by some states when one regsiters to vote.
        <br/><br/>
    </div>
    <div id="pi" class="item">
        <b>Party identifications</b><br>
            An informal and subjective affiliation with a political party that most people acquire in childhood
            <br/>
    </div>
    <div id="d" class="item">
        <b>Dealignment</b><br>
        Weakening of partism preferences that points to a rejection of both major parties and a rise in the number of <i>independents</i>
        <br/><br/>
    </div>


</div>
