<super-navbar>
    <super-navbar-title ng-bind="navbarTitle">French numbers 1-10</super-navbar-title>
    <super-navbar-button side="right" ng-attr-click="supersonic.ui.drawers.open('right')">
        Swipe
    </super-navbar-button>
</super-navbar>

<div class="list" ng-controller="NoteController">
    <div class="item" id="numbers">
        <b>Numbers</b><br>
        1-10<br>
        <br/>
        <br/>
    </div>

    <div id="one" class="item">
        <b>One</b><br>
        Un/Une<br>
        <br/>
        <br/>
    </div>

    <div id="two" class="item">
        <b>Two</b><br>
        Deux<br>
        <br/>
        <br/>
    </div>

    <div id="three" class="item">
        <b>Three</b><br>
        trois<br>
        <br/>
        <br/>
    </div>

    <div id="Four" class="item">
        <b>Four</b><br>
        Quatre<br>
        <br/>
        <br/>
    </div>

    <div id="Five" class="item">
        <b>Five</b><br>
        Cinq<br>
        <br/>
        <br/>
    </div>

    <div id="Six" class="item">
        <b>Six</b><br>
        Six<br>
        <br/>
        <br/>
    </div>

    <div id="seven" class="item">
        <b>Seven</b><br>
        Sept<br>
        <br/>
        <br/>
    </div>

    <div id="eight" class="item">
        <b>Eight</b><br>
       Huit<br>
        <br/>
        <br/>
    </div>

    <div id="Nine" class="item">
        <b>Nine</b><br>
        Neuf<br>
        <br/>
        <br/>
    </div>

    <div id="ten" class="item">
        <b>Ten</b><br>
        Dix<br>
        <br/>
        <br/>
    </div>


</div>
