<div class="padding">
  <br/>
  <img style="display: block;
    margin-left: auto;
    margin-right: auto;" src="/images/logo.png"><br/>
  <p class="text-center" style="font-size: medium;">Classmint App helps to study-on-the-go! <br/> We'll study in a new fun and exciting way.</p>
  <br/>

  <super-navigate view-id="cornell-notes-on-mobile">
    <button class="button button-block button-light icon-left super-university">Introduction</button>
  </super-navigate>

 <!-- <super-navigate view-id="auto-sync-notes">
    <button class="button button-block button-light icon-left super-cloud">Sync Notes with Mobile Phone</button>
  </super-navigate>

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-light icon-left super-wand">Making Most of Classmint</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-light icon-left super-android-alarm">Study Reminders</button>
  </super-navigate>-->
    <super-navigate view-id="alerts-view">
        <button class="button button-block button-light icon-left super-android-alarm">My Alerts (23)</button>
    </super-navigate>

  <super-navigate view-id="start-studying">
    <button class="button button-block button-light icon-left super-arrow-right-a">My Study Notes</button>
  </super-navigate>

  <br/>
  <h3>Get in touch with us!</h3>

  <p>Feel free to contact us at <a href="mailto:team@classmint.com">team@classmint.com</a>, we would love to get your feedback!</p>

</div>
