<super-navbar>
    <super-navbar-title ng-bind="navbarTitle">GRE/GMAT vocabulary Intermediate 1</super-navbar-title>
    <super-navbar-button side="right" ng-attr-click="supersonic.ui.drawers.open('right')">
        Swipe
    </super-navbar-button>
</super-navbar>

<div class="list" ng-controller="NoteController">
    <div class="item" id="abaft">
        <b>Abaft</b><br>
        Adverb,<br>
        <br/>
        on or toward the rear of a ship
        <br/><br/>
    </div>

    <div id="abase" class="item">
        <b>abase</b><br>
        verb,<br>
        to degrade,humilate<br/>
        <br/>
    </div>

    <div id="abdicate" class="item">
        <b>abdicate</b><br>
        Verb,<br>
        to reject,renounce or abandon<br/>
        <br/>
    </div>

    <div id="aberrant" class="item">
        <b>Aberrant</b><br>
        Adjective,<br>
        abnormal;straying from normal or usual path<br/><br/>
        <br/>
    </div>

    <div id="abeyance" class="item">
        <b>Abeyance</b><br>
        Noun<br>
        <br/>a state of temporary suspension or inactivity
        <br/>
    </div>

    <div id="abhor" class="item">
        <b>Abhor</b><br>
        verb,<br>
        to hate<br/><br/>
        <br/>
    </div>

    <div id="abject" class="item">
        <b>abject</b><br>
        Adjective,<br>
        of the  worst or lowest degree<br/><br/>
        <br/>
    </div>

    <div id="abjure" class="item">
        <b>abjure</b><br>
        Verb,<br>
        to give up<br/>
        <br/>
    </div>

    <div id="abnegation" class="item">
        <b>abnegation</b><br>
        Noun<br>
        a denial<br/>
        <br/>
    </div>

    <div id="abominate" class="item">
        <b>abominate</b><br>
        verb<br>
        to loathe<br/>
        <br/>
    </div>

    <div id="abrogate" class="item">
        <b>Abrogate</b><br>
        verb<br>
        To cancel by authority<br/>
        <br/>
    </div>
    <div id="abslove" class="item">
        <b>Abslove</b><br>
        verb<br>
        To forgive /acquit<br/>
        <br/>
    </div>
    <div id="abstemious" class="item">
        <b>Abstemious</b><br>
        adjective<br>
        sparing in use of food or drinks<br/>
        <br/>
    </div>
    <div id="abstruse" class="item">
        <b>Abstruse</b><br>
        adjective<br>
        hard to understand<br/>
        <br/>
    </div>
    <div id="accede" class="item">
        <b>Accede</b><br>
        Verb<br>
        tro comply with<br/>
        <br/>
    </div>
    <div id="accretion" class="item">
        <b>Accretion</b><br>
        Noun<br>
        growth by addition <br/>
        <br/>
    </div>
    <div id="acerbic" class="item">
        <b>Acerbic</b><br>
        Adjective<br>
        tasting sour <br/>
        <br/>
    </div>
    <div id="acquiesce" class="item">
        <b>acquiesce</b><br>
        verb<br>
        to agree wihtout protest<br/>
        <br/>
    </div>
    <div id="acrid" class="item">
        <b>Acrid</b><br>
        Adjective<br>
        bitter,foul smelling<br/>
        <br/>
    </div>
    <div id="acrimony" class="item">
        <b>Acrimony</b><br>
        Noun<br>
        sharpness or bitterness in language or manner<br/>
        <br/>
    </div>
    <div id="adage" class="item">
        <b>Adage</b><br>
        Noun<br>
        an old saying now accepted as being truthful<br/>
        <br/>
    </div>
    <div id="addled" class="item">
        <b>Addled</b><br>
        Adjective<br>
        rotten<br/>
        <br/>
    </div>
    <div id="adept" class="item">
        <b>Adept</b><br>
        Adjective<br>
        skilled,practiced<br/>
        <br/>
    </div>
    <div id="adjure" class="item">
        <b>Adjure</b><br>
        verb<br>
        solemnly ordered<br/>
        <br/>
    </div>
    <div id="adroit" class="item">
        <b>Adroit</b><br>
        Adjective<br>
        expert or skillful<br/>
        <br/>
    </div>
    <div id="adulation" class="item">
        <b>Adulation</b><br>
        noun<br>
        praise in excess<br/>
        <br/>
    </div>
    <div id="aesthetic" class="item">
        <b>Aesthetic</b><br>
        adjective<br>
        of beauty,pertaining to taste in art and beauty<br/>
        <br/>
    </div>
    <div id="affable" class="item">
        <b>Affable</b><br>
        adjective<br>
        friendly,amiable;good-natured<br/>
        <br/>
    </div>
    <div id="affiliate" class="item">
        <b>Affiliate</b><br>
        Verb<br>
        to connect or associate with<br/>
        <br/>
    </div>
    <div id="aggrandize" class="item">
        <b>Aggrandize</b><br>
        Verb<br>
        to make more powerful<br/>
        <br/>
    </div>
    <div id="aghast" class="item">
        <b>Aghast</b><br>
        Adjective<br>
        astonished,amazed,horrified,terrified;appalled<br/>
        <br/>
    </div>
    <div id="alacrity" class="item">
        <b>Alacrity</b><br>
        Noun<br>
        eager readiness or speed<br/>
        <br/>
    </div>

    <div id="allegory" class="item">
        <b>Allegory</b><br>
        Noun<br>
        a symbolic description<br/>
        <br/>
    </div>
    <div id="allude" class="item">
        <b>Allude</b><br>
        verb<br>
        to refer indirectly to something<br/>
        <br/>
    </div>
    <div id="allure" class="item">
        <b>Allure</b><br>
        verb,Noun<br>
        to attract,entice ,attraction,temptation<br/>
        <br/>
    </div>
    <div id="allusion" class="item">
        <b>Allusion</b><br>
        Noun<br>
        an indirect reference<br/>
        <br/>
    </div>
    <div id="aloof" class="item">
        <b>Allusion</b><br>
        Adjective<br>
        distant in interest,reserved ;cool<br/>
        <br/>
    </div>
    <div id="altrusim" class="item">
        <b>Altrusim</b><br>
        Noun<br>
       unselish devotion to the welfare of others<br/>
        <br/>
    </div>
    <div id="ambivalent" class="item">
        <b>Ambivalent</b><br>
        adjective<br>
        undecided<br/>
        <br/>
    </div>
    <div id="ameliorate" class="item">
        <b>ameliorate</b><br>
        Verb<br>
        to improve or make better<br/>
        <br/>
    </div>
    <div id="amorphous" class="item">
        <b>amorphous</b><br>
        adjective<br>
        with no shape ,unorganized,having no determinate form<br/>
        <br/>
    </div>
    <div id="amortize" class="item">
        <b>amortize</b><br>
        verb<br>
       to put money into a fund at fixed intervals<br/>
        <br/>
    </div>
    <div id="anachronism" class="item">
        <b>amorphous</b><br>
        noun<br>
        something out of place in time <br/>
        <br/>
    </div>
    <div id="anaphylaxis" class="item">
        <b>anaphylaxis</b><br>
        noun<br>
        an allergic reaction <br/>
        <br/>
    </div>
    <div id="animosity" class="item">
        <b>animosity</b><br>
        noun<br>
        a feeling of hatred or ill will <br/>
        <br/>
    </div>
    <div id="antagonisim" class="item">
        <b>antagonism</b><br>
        noun<br>
        hostility;opposition<br/>
        <br/>
    </div>
    <div id="antipathy" class="item">
        <b>antipathy</b><br>
        noun<br>
        a strong dislike or repugnance<br/>
        <br/>
    </div>
    <div id="apathy" class="item">
        <b>apathy</b><br>
        noun<br>
        lack of emotion or interest<br/>
        <br/>
    </div>
    <div id="apocalyptic" class="item">
        <b>Apocalyptic</b><br>
        Adjective<br>
        Pertaining to discovery or new revelation<br/>
        <br/>
    </div>
    <div id="apocryphal" class="item">
        <b>Apocryophal</b><br>
        Adjective<br>
        counterfeit ofd doubtful authorship or authenticity<br/>
        <br/>
    </div>
    <div id="apposite" class="item">
        <b>Apposite</b><br>
        Adjective<br>
       suitable,apt ,relevant<br/>
        <br/>
    </div>
    <div id="approbatory" class="item">
        <b>Approbtory</b><br>
        Adjective<br>
        approving or sanctioning<br/>
        <br/>
    </div>
    <div id="arable" class="item">
        <b>Arable</b><br>
        Adjective<br>
        Land which is suitable for plowing<br/>
        <br/>
    </div>
    <div id="arbiter" class="item">
        <b>Arbiter</b><br>
        Noun<br>
        one who is auhtorized to judge or decide<br/>
        <br/>
    </div>
    <div id="arbitrary" class="item">
        <b>Arbitrary</b><br>
        adjective<br>
        based on one's perference or judgment<br/>
        <br/>
    </div>
    <div id="arcane" class="item">
        <b>Arcane</b><br>
        adjective<br>
       obscure;secret ,msyterious<br/>
        <br/>
    </div>
    <div id="ardent" class="item">
        <b>Ardent</b><br>
        adjective<br>
        with passionate or intense feelings<br/>
        <br/>
    </div>
    <div id="arduous" class="item">
        <b>Arduous</b><br>
        verb<br>
        laborious,diffcult,strenuous <br/>
        <br/>
    </div>
    <div id="articulate" class="item">
        <b>Articulate</b><br>
        verb,Adjective <br>
       to utter clearly and distinctly,clear,distinct,expressed with clarity,skillful with words <br/>
        <br/>
    </div>
    <div id="artifice" class="item">
        <b>Artifice</b><br>
        Noun <br>
        Skill in a craft  <br/>
        <br/>
    </div>
    <div id="askance" class="item">
        <b>Askance</b><br>
        adverb <br>
        a sideways of glance of disapproval  <br/>
        <br/>
    </div>
    <div id="asperity" class="item">
        <b>Asperity</b><br>
        noun <br>
        harshness  <br/>
        <br/>
    </div>
    <div id="aspersion" class="item">
        <b>Aspersion</b><br>
        noun <br>
        of a substanceslanderous statement,a damaging or deorgatory criticsm  <br/>
        <br/>
    </div>
    <div id="aspirant" class="item">
        <b>Aspirant</b><br>
        noun <br>
       a person who goes after high goals  <br/>
        <br/>
    </div>
    <div id="assay" class="item">
        <b>Assay</b><br>
        noun <br>
       to determine the quality of substance  <br/>
        <br/>
    </div>
    <div id="assiduous" class="item">
        <b>Assiduous</b><br>
        adjective <br>
       carefully attentive;industrious  <br/>
        <br/>
    </div>
    <div id="astringent " class="item">
        <b>Astringent</b><br>
        Noun,adjective <br>
        a susbtance that contracts bodily tissues ,causing contraction  <br/>
        <br/>
    </div>
    <div id="austere " class="item">
        <b>Austere</b><br>
        adjective <br>
        a susbtance that contracts bodily tissues ,causing contraction  <br/>
        <br/>
    </div>
    <div id="autocracy" class="item">
        <b>Autocracy</b><br>
        Noun<br>
        an absolute monarchy .government where one person hols power <br/>
        <br/>
    </div>
    <div id="avarice" class="item">
        <b>Avarice</b><br>
        Noun<br>
        inordinate desire for gaining and possessing wealth<br/>
        <br/>
    </div>
    <div id="astute" class="item">
        <b>Astute</b><br>
        Adjective<br>
        cunning sly,craftly<br/>
        <br/>
    </div>
    <div id="attenuate" class="item">
        <b>Attenuate</b><br>
        verb<br>
        to thinout ,to weaken<br/>
        <br/>
    </div>
    <div id="audacious" class="item">
        <b>Audacious</b><br>
        verb<br>
        fearless,bold<br/>
        <br/>
    </div>
    <div id="aver" class="item">
        <b>Aver</b><br>
        verb<br>
        to affirm as true<br/>
        <br/>
    </div>
    <div id="azure" class="item">
        <b>Azure</b><br>
        Adjective<br>
        the clear blue color of the sky <br/>
        <br/>
    </div>




</div>
