<super-navbar>
    <super-navbar-title ng-bind="navbarTitle">Alphabet</super-navbar-title>
    <super-navbar-button side="right" ng-attr-click="supersonic.ui.drawers.open('right')">
        Swipe
    </super-navbar-button>
</super-navbar>

<div class="padding list" ng-controller="NoteController">
    <div class="item" id="a">
        <b>A</b><br>
        Apple<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="100px" src="/images/Apple13.jpg"><br/><br/>
        <br/>
    </div>

    <div id="b" class="item">
        <b>B</b><br>
        Bat<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="120px" src="/images/bat.jpeg"><br/><br/>
        <br/>
    </div>

    <div id="c" class="item">
        <b>C</b><br>
        Cat<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="150px" src="/images/cat1.jpg"><br/><br/>
        <br/>
    </div>

    <div id="d" class="item">
        <b>D</b><br>
        Dog<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="150px" src="/images/dog1.jpg"><br/><br/>
        <br/>
    </div>

    <div id="e" class="item">
        <b>E</b><br>
        Elephant<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="100px" src="/images/elephant.jpeg"><br/><br/>
        <br/>
    </div>

    <div id="f" class="item">
        <b>F</b><br>
        Fish<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="100px" src="/images/fish.jpeg"><br/><br/>
        <br/>
    </div>

    <div id="g" class="item">
        <b>G</b><br>
        Google<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="180px" src="/images/google.jpg"><br/><br/>
        <br/>
    </div>

    <div id="h" class="item">
        <b>H</b><br>
        Horse<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="150px" src="/images/horse1.png"><br/><br/>
        <br/>
    </div>

    <div id="i" class="item">
        <b>I</b><br>
        Ice<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="150px" src="/images/ice.png"><br/><br/>
        <br/>
    </div>

    <div id="j" class="item">
        <b>J</b><br>
        Jug<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="100px" src="/images/jug.jpg"><br/><br/>
        <br/>
    </div>

    <div id="k" class="item">
        <b>K</b><br>
        Kite<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="100px" src="/images/kte.png"><br/><br/>
        <br/>
    </div>

    <div id="l" class="item">
        <b>L</b><br>
        Lion<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="150px" src="/images/liob.png"><br/><br/>
        <br/>
    </div>
</div>
