<div class="padding" ng-controller="NoteController">
    <super-navbar>
        <super-navbar-title ng-bind="navbarTitle">Alphabet</super-navbar-title>
        <super-navbar-button  side="right">
            &#9776;&nbsp;Keys
        </super-navbar-button>
    </super-navbar>

    <div id="a">
        <b>A</b><br>
        Apple<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="100px" src="/images/Apple13.jpg"><br/><br/>
<br/>        <hr><br>
    </div>

    <div id="b">
        <b>B</b><br>
        Bat<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="120px" src="/images/bat.jpeg"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="c">
        <b>C</b><br>
        Cat<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="150px" src="/images/cat1.jpg"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="d">
        <b>D</b><br>
        Dog<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="150px" src="/images/dog1.jpg"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="e">
        <b>E</b><br>
        Elephant<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="100px" src="/images/elephant.jpeg"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="f">
        <b>F</b><br>
        Fish<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="100px" src="/images/fish.jpeg"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="g">
        <b>G</b><br>
        Google<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="180px" src="/images/google.jpg"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="h">
        <b>H</b><br>
        Horse<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="150px" src="/images/horse1.png"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="i">
        <b>I</b><br>
        Ice<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="150px" src="/images/ice.png"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="j">
        <b>J</b><br>
        Jug<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="100px" src="/images/jug.jpg"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="k">
        <b>K</b><br>
        Kite<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="100px" src="/images/kte.png"><br/><br/>
        <br/>        <hr><br>
    </div>

    <div id="l">
        <b>L</b><br>
        Lion<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;"  width="150px" src="/images/liob.png"><br/><br/>
        <br/>        <hr><br>
    </div>

</div>