<super-navbar>
    <super-navbar-title ng-bind="navbarTitle">Prefixes</super-navbar-title>
    <super-navbar-button side="right" ng-attr-click="supersonic.ui.drawers.open('right')">
        Swipe
    </super-navbar-button>
</super-navbar>

<div class="list" ng-controller="NoteController">
    <div class="item" id="counter">
        <b>Counter-</b><br>
        a blow given while parrying Ex:counterpatch<br>
        <br/>
        <br/>
    </div>

    <div id="de" class="item">
        <b>de-</b><br>
        down or away Ex:descend<br>
        <br/>
        <br/>
    </div>

    <div id="bio" class="item">
        <b>bio-</b><br>
        a biography or short biological profile of someone.Ex:biology<br>
        <br/>
        <br/>
    </div>

    <div id="grad" class="item">
        <b>grad-</b><br>
        to graduate .Ex:graduation<br>
        <br/>
        <br/>
    </div>

    <div id="eco" class="item">
        <b>eco-</b><br>
        combing from Ex:economy<br>
        <br/>
        <br/>
    </div>

    <div id="oxy" class="item">
        <b>oxy-</b><br>
        denoting sharpness Ex:oxynote<br>
        <br/>
        <br/>
    </div>




</div>
