<div ng-controller="NoteController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>

  <div class="list">
    <super-navigate view-id="note-view">
      <li class="item item-icon-right">
        Alphabet Notes<i class="icon super-chevron-right"></i>
      </li>
    </super-navigate>
      <super-navigate view-id="note-tooth">
        <li class="item item-icon-right">
        Structure of Human Tooth <i class="icon super-chevron-right"></i>
        </li>
      </super-navigate>
      <super-navigate view-id="note-account">
        <li class="item item-icon-right">
        Accounting Constraints,Concepts <i class="icon super-chevron-right"></i>
        </li>
      </super-navigate>
      <super-navigate view-id="note-french">
        <li class="item item-icon-right">
            French numbers 1-10 <i class="icon super-chevron-right"></i>
        </li>
      </super-navigate>
      <super-navigate view-id="note-apexam">
        <li class="item item-icon-right">
            AP Exam -Political parties
         <i class="icon super-chevron-right"></i>
        </li>
      </super-navigate>
      <super-navigate view-id="note-prefixes">
        <li class="item item-icon-right">
            Prefixes
            <i class="icon super-chevron-right"></i>
        </li>
      </super-navigate>
      <super-navigate view-id="note-gre">
    <li class="item item-icon-right">
      GRE/GMAT Vocabulary Intermediate
      <i class="icon super-chevron-right"></i>
    </li>
    </super-navigate>
  </div>

  </div>
