<div ng-controller="NoteController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>

  <div class="list">
    <super-navigate view-id="note-view">
      <li class="item item-icon-right">
        Alphabet Notes<i class="icon super-chevron-right"></i>
      </li>
    </super-navigate>
    <li class="item item-icon-right">
      Lesson 2 Notes
      <i class="icon super-chevron-right"></i>
    </li>
    <li class="item item-icon-right">
      Lesson 3 Notes
      <i class="icon super-chevron-right"></i>
    </li>
    <li class="item item-icon-right">
      Lesson 4 Notes
      <i class="icon super-chevron-right"></i>
    </li>
    <li class="item item-icon-right">
      Lesson 5 Notes
      <i class="icon super-chevron-right"></i>
    </li>
    <li class="item item-icon-right">
      Lesson 6 Notes
      <i class="icon super-chevron-right"></i>
    </li>
    <li class="item item-icon-right">
      Lesson 7 Notes
      <i class="icon super-chevron-right"></i>
    </li>

  </div>

  </div>
