<super-navbar>
    <super-navbar-title ng-bind="navbarTitle">Structure of Tooth</super-navbar-title>
    <super-navbar-button side="right" ng-attr-click="supersonic.ui.drawers.open('right')">
        Swipe
    </super-navbar-button>
</super-navbar>

<div class="list" ng-controller="NoteController">
    <div class="item" id="enamel">
        <b>Enamel</b><br>
        White layer of tissue on top of human teeth<br>
        <img style="display: block;
    margin-left: auto;
    margin-right: auto;" width="150px" src="/images/tooth.jpeg"><br/><br/>
        <br/>
    </div>

    <div id="dentin" class="item">
        <b>Dentin</b><br>
        <ul>
            <li>Subtsance between enamel or <i>cementum</i> and the pulp chamber</li>
            <li>Secreted by the<i> odontoblasts</i> of the dental pulp</li>
            <li>Mineralized connective tissue with an organic matrix of collagenous proteins</li>
            <li>Made up of 70% <i>inorganic</i> materials,20% <i>organic</i> materials and 10% water</li>
        </ul>
        <br><br/>
        <br/>
    </div>

    <div id="pulp" class="item">
        <b>Pulp</b><br>
        The dental pulp is the central part of the tooth filled with soft <i>connective tissue</i>

        <br/><br/>
        <br/>
    </div>

    <div id="cementum" class="item">
        <b>Cementum</b><br>
        The layer of bone-like tissue covering the root.It is not as hard as <i>enamel</i><br>
       <br/>
        <br/>
    </div>

    <div id="gums" class="item">
        <b>Gums(Gingiva)</b><br>
        Soft tissue that immediately surrounds the teeth and bone.It protects the bone and the root of the teeth and provides an easily lubricated surface<br>
        we must take care of it <br/><br/>
        <br/>
    </div>

   </div>



