<div ng-controller="DrawerController">

  <super-navbar>
    <super-navbar-title>
      Navigation
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
      <div class="list">

          <a class="item item-icon-left" href="#">
              <super-navigate view-id="getting-started"  ng-click="supersonic.ui.drawers.close()">
                  <i class="icon super-home"></i>
                  Home
              </super-navigate>
          </a>

          <a class="item item-icon-left" href="#">
              <super-navigate view-id="alerts-view"  ng-click="supersonic.ui.drawers.close()">
                  <i class="icon super-clock"></i>
                  Study Reminders

              </super-navigate>
              <span class="badge badge-positive">7</span>
          </a>

          <a class="item item-icon-left" href="#">
              <super-navigate view-id="start-studying" ng-click="supersonic.ui.drawers.close()">
                  <i class="icon super-cloud"></i>
                  Study Notes
              </super-navigate>
          </a>

          <a class="item item-icon-left" href="#">
              <super-navigate view-id="start-studying" ng-click="supersonic.ui.drawers.close()">
                  <i class="icon super-ios7-bell"></i>
                  Alerts
                  <span class="badge badge-positive">3</span>
              </super-navigate>
          </a>

          <a class="item item-icon-left" href="#"  ng-click="supersonic.ui.drawers.close()">
              <i class="icon super-headphone"></i>
              Support
          </a>

          <a class="item item-icon-left" href="#"  ng-click="supersonic.ui.drawers.close()">
              <i class="icon super-settings"></i>
              Settings
          </a>

          <a class="item item-icon-left" href="#"  ng-click="supersonic.ui.drawers.close()">
              <i class="icon super-arrow-left-c"></i>
              Hide
          </a>
      </div>
    <!--
      <super-navigate view-id="getting-started">
        <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
          Home
        </button>
      </super-navigate>

      <super-navigate view-id="alerts-view">
          <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
              Alerts (23)
          </button>
      </super-navigate>

      <super-navigate view-id="start-studying">
        <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
          Study Notes
        </button>
      </super-navigate>

      <super-navigate view-id="start-studying">
        <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
          Study Reminders
        </button>
      </super-navigate>


        <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
            Close
        </button>
        <br> -->
  </div>
</div>