<div ng-controller="DrawerController">

  <super-navbar>
    <super-navbar-title>
      Navigation
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <br>
      <super-navigate view-id="getting-started">
        <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
          Home
        </button>
      </super-navigate>

      <super-navigate view-id="alerts-view">
          <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
              Alerts (23)
          </button>
      </super-navigate>

      <super-navigate view-id="start-studying">
        <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
          Study Notes
        </button>
      </super-navigate>

      <super-navigate view-id="start-studying">
        <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
          Study Reminders
        </button>
      </super-navigate>


        <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
            Close
        </button>
        <br>
  </div>
</div>