<div ng-controller="DrawerController">

    <super-navbar>
        <super-navbar-title>
            &#9776;&nbsp;Keys
        </super-navbar-title>
    </super-navbar>

    <div class="padding">

        <div class="list">
            <a class="item" href="#"><b>A</b></a>
            <a class="item" href="#"><b>B</b></a>
            <a class="item" href="#"><b>C</b></a>
            <a class="item" href="#"><b>D</b></a>
            <a class="item" href="#"><b>E</b></a>
            <a class="item" href="#"><b>F</b></a>
            <a class="item" href="#"><b>G</b></a>
            <a class="item" href="#"><b>H</b></a>
            <a class="item" href="#"><b>I</b></a>
            <a class="item" href="#"><b>J</b></a>
            <a class="item" href="#"><b>K</b></a>
            <a class="item" href="#"><b>L</b></a>
        </div>
        <!-- {{text}}
            {{data3}} -->

        <super-navigate view-id="trans" style="margin-right: 20px;">
            <button class="button button-positive">
                Play Note
            </button>
        </super-navigate>
        <button class="button button-positive" ng-click="supersonic.ui.drawers.close()">
            Close
        </button>
        <super-navigate ng-attr-location="/../../source/views/note-view.html#k"
                        ng-click="supersonic.ui.drawers.close();window.location.href = '/../../source/views/note-view.html#k';">
            <button class="button button-clear">Go to K (notworking)</button>
        </super-navigate>

    </div>
</div>