<super-navbar>
    <super-navbar-title>
        message test page1
    </super-navbar-title>
</super-navbar>


<div ng-controller="TransitionController">

    <super-navigate view-id="testpage">
        <button class="button button-block button-light icon-left ">view</button>
    </super-navigate>


    <h4>write here text</h4>

    <input ng-model="message"/>

    <h4>you wrote</h4>

    <div>
        {{message}}
    </div>
    <script type="application/javascript">



        broadcastMessage( function(msg){

            var message = {
                recipient: "showView",
                message: "Hi Show view!"
            };

            window.postMessage(message);
        });



    </script>


</div>
