<super-navbar>
    <super-navbar-title>
        transitions
    </super-navbar-title>
</super-navbar>

<!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-touch.js"></script-->
<div class="padding" ng-controller="TransitionController">

    <!--div class="list">

        <div class="item item-divider">
            Animation speed
        </div>

        <!--div class="item range range-positive">
            <input type="range" ng-model="animationSpeed" name="speed" min="0.1" max="2" step="0.1">
            <div style="width: 50px;">{{animationSpeed}} s</div>
        </div-

    </div-->

    <!--b>Perform animation:</b>

    <button class="button button-block button-positive" ng-click="performAnimation('flipVerticalFromTop')">
        flipVerticalFromTop
    </button>

    <button class="button button-block button-positive" ng-click="performAnimation('flipHorizontalFromLeft')">
        flipHorizontalFromLeft
    </button-->

    <!--button class="button button-block button-positive" ng-click="performAnimation('slideFromRight')">
        slideFromRight
    </button>
    <br/><br/><br/>
      <p ng-click="performAnimation('slideFromRight')">hi</p-->
    <br/><br/>
    <!--div class="text" id="playtext" ng-click="performAnimation('slideFromRight')" align="center" onclick="myFunction()">Click here for transition</div>



    <!--button class="button button-block button-positive" ng-click="performAnimation('slideFromTop')">
        slideFromTop
    </button>performAnimation('slideFromRight')

    <button class="button button-block button-positive" ng-click="performAnimation('curlDown')">
        curlDown (iOS only)
    </button>

    <button class="button button-block button-positive" ng-click="performAnimation('curlUp')">
        curlUp (iOS only)
    </button-->


    </div>
<p id="demo"></p>

<!--script>
    var keynte = ["key1", "key2", "key3"];
    var note="";
    function myFunction() {
        for (i = 0; i <keynte.length; i++) {
            if(i>0) {
                document.getElementById("demo").innerHTML = keynte[i];
            }
        }

    }


</script-->


<!--script>
    var arrnote =["One","one :Uno","Two","Two :Deux","Three","Three:Trois","Four","Four:Quatre","Five","Five:Cinq","Six","Six:Six",
        "Seven","Seven:Sept","Eight","Eight : Huit","Nine","Nine :Neuf","Ten","Ten :Dix"];
    var i,count=0;
    function myFunction() {
    for(i=0;i<arrnote.length;i++)
    {


       //document.getElementById("demo").innerHTML = arrnote[i];

    document.write(arrnote[i]);
   }
    }
    </script-->

<div id="test" style="font-size:large"  onclick="viewNext()" align="center" ><br/>Click</div>
<script>
    var slideStart = 0;
    var slideCount = 10;
    var fl= 0,flg=0;
    var count=0;

    var jsonDoc = [{"left":"Numbers","right":"1-10"},{"left":"One<br><br>","right":"Un/Une<br><br>"},{"left":"Two<br><br>","right":"Deux<br><br>"},{"left":"Three","right":"Trois"},{"left":"Four","right":"Quatre"},{"left":"Five","right":"Cinq"},{"left":"Six","right":"Six"},{"left":"Seven","right":"Sept"},{"left":"Eight","right":"Huit"},{"left":"Nine","right":"Neuf"},{"left":"Ten","right":"Dix"}];

    var currentSlide = 0;
    var secondPart = false;

    function viewNext(){
        //alert(currentSlide);
        if(!secondPart) {
            //alert(jsonDoc[currentSlide].left);
            document.getElementById('test').innerHTML = jsonDoc[currentSlide].left;
            secondPart = true;
        }else{
            if(currentSlide < jsonDoc.length) {
                //alert(jsonDoc[currentSlide].left + '<br>' + jsonDoc[currentSlide].right);
                document.getElementById('test').innerHTML = jsonDoc[currentSlide].left + '<br>' + jsonDoc[currentSlide].right;
                currentSlide++;
                secondPart = false;
            }
        }
    }

    function callArr() {

        document.getElementById('test').innerHTML = " ";
        var arrName = {"Numbers":"1-10","One":"Uno", "Two":"Deux",
            "Three":"Trois", "Four":"Quatre","Five":"Cing","Six":"Six","Seven":"Sept","Eight":"Huit","Nine":"Neuf","Ten":"Dix"
            };



        var i = 0;
        for (var flwr in arrName) {
            if (i == slideStart) {

                     //***** this will print the content using first key and data but only alternate ******
                       if (slideStart % 2 == 0) {
                           document.getElementById('test').innerHTML += "<b> " + flwr + "</b>";
                           fl = flwr, flg = 1;

                           count++;


                       }
                       else {
                           document.getElementById('test').innerHTML += "<b>" + fl + "</b><br/><br/>  " + arrName[fl];
                       }

                     //***********

                     /*
                     * this is code print entire content one by one onclick event
                     *   document.getElementById('test').innerHTML += "<b>" + flwr + "</b><br/><br/>  " + arrName[flwr];
                     *
                     * */






                    /*document.getElementById('test').innerHTML += flwr +
                    " <br />  " +
                    arrName[flwr] +
                    "<br />";
                               */
                slideStart++;
                // if(flg==2)
                // {
                //document.getElementById('test').innerHTML+="<br/><br/>  "+ arrName[fl]; flg--;//  }
                break;
            }
            i++;
        }
    }



      </script>

