<super-navbar>
    <super-navbar-title>
        transitions
    </super-navbar-title>
</super-navbar>

<!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-touch.js"></script-->
<div class="padding" ng-controller="TransitionController">

    <!--div class="list">

        <div class="item item-divider">
            Animation speed
        </div>

        <!--div class="item range range-positive">
            <input type="range" ng-model="animationSpeed" name="speed" min="0.1" max="2" step="0.1">
            <div style="width: 50px;">{{animationSpeed}} s</div>
        </div-

    </div-->

    <!--b>Perform animation:</b>

    <button class="button button-block button-positive" ng-click="performAnimation('flipVerticalFromTop')">
        flipVerticalFromTop
    </button>

    <button class="button button-block button-positive" ng-click="performAnimation('flipHorizontalFromLeft')">
        flipHorizontalFromLeft
    </button-->

    <!--button class="button button-block button-positive" ng-click="performAnimation('slideFromRight')">
        slideFromRight
    </button>
    <br/><br/><br/>
      <p ng-click="performAnimation('slideFromRight')">hi</p-->
    <br/><br/>
    <div class="text" id="playtext" ng-click="performAnimation('slideFromRight')" align="center" onclick="myFunction()">Click here for transition</div>



    <!--button class="button button-block button-positive" ng-click="performAnimation('slideFromTop')">
        slideFromTop
    </button>performAnimation('slideFromRight')

    <button class="button button-block button-positive" ng-click="performAnimation('curlDown')">
        curlDown (iOS only)
    </button>

    <button class="button button-block button-positive" ng-click="performAnimation('curlUp')">
        curlUp (iOS only)
    </button-->


    </div>
<p id="demo"></p>

<script>
    var keynte = ["key1", "key2", "key3"];
    var note="";
    function myFunction() {
        for (i = 0; i <keynte.length; i++) {
            if(i>0) {
                document.getElementById("demo").innerHTML = keynte[i];
            }
        }

    }
</script>



</div>
